    # div1 { preenchimento : 10 px ; largura : 680 px ; raio da borda : 0,5 em ; borda : 1 px  sólido  # 000000 ; plano de fundo : # 00aeed ;}
    # div1  # div2 { background : #dedede ; raio da borda : 0,5 em ; preenchimento : 10 px ; borda : 1 px  sólido  # 000000 ;}
    # div1  # span1 { font-style : italic ;}
    # div11 { preenchimento : 10 px ; largura : 680 px ; raio da borda : 0,5 em ; borda : 1 px  sólido  # 000 ; fundo : #dedede ; margem inferior : 30 px ;}
    # div11  # span2 { font-style : italic ;}
    # div11  # span3 { font-style : italic ;}
    # div11  # span4 { font-style : italic ;}
    # div11  # span5 , { font-style : italic ;}
    # div11  # img1 { largura : 691 px ; padding-top : 15 px ;}
    # code1 , # code2 , # code3 , # code4 , # code5 , # code6 , # code7 , # code8 , #codea , #codeb , #codec , #coded , #codee , #codef , #codeg , #codeh , #codei , #codej { border : 1 px  solid  # 000 ; preenchimento : 10 px ; fundo :#efefef ;}
    #spanx { padding-left : 1.5 em ;}
    #spany { font-style : italic ;}
    # img2 , # img3 { largura : 691 px ; padding-top : 15 px ;}
    #spana , #spanb , #spanc , #spand , #spane , #spanf , #spang , #spanh , #spani , #spanj , #spank , #spanl { padding-left : 1.5 em ;}
    #efeito { padding : 10 px ; largura : 680 px ; raio da borda : 0,5 em ; borda : 1 px  sólido  # 000000 ; plano de fundo : # ff0000 ;}
    #divx { background : #dedede ; raio da borda : 0,5 em ; preenchimento : 10 px ; borda : 1 px  sólido  # 000000 ;}
    # span151 , # span171 , #spanfinal , # spanfinal1 , #ultimo { font-style : italic ;}
    #table { borda : 1 px  sólido  # 000 ; colapso de borda : colapso ;}
    # Th1 , # Th2 , # th3 , # TH4 , # TH5 , # TH6 , # Th7 , # TH8 , # Th9 , # Th10 , # th11 , # th12 , # th13 , # TH14 , # th15 , # TH16 , # Th17 , # th17 , # th18 , # th19 , # th20 , # th21 , # th22 , # th23 , # th24 , # th25 ,# th26 , # th27 , # th28 , # th29 , # th30 , # th31 , # th32 , # th33 { border : 1 px  solid  # 000 ;}